.home-body {
  height: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: azure;
}

.home-body * {
  float: left;
}

.section {
  padding-bottom: 1em;
}

.summary {
  align-items: start;
}

.summary-item {
  display: block;
  align-items: start;
}

.title {
  font-size: 80px;
  font-weight: 400;
}

.sub-title {
  font-size: 50px;
  font-weight: 300;
}

.tech-icons img {
  margin: 3px;
  width: 80px;
  height: 80px;
  background-color: azure;
  border-radius: 10px;
}

hr {
  z-index: -3;
  border: 0;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}