.navbar-body {
  padding-left: 4.5em;
  padding-right: 1em;
  background-color: #176ca9;
  display: flex;
  vertical-align: middle;
  height: 100px;
  width: 100%;
  text-align: start;
}

.navbar-body button {
  margin-right: 1em;
}

.profile-picture {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
  display: inline;
}

.nav-items {
  margin-bottom: 0;
  display: block;
  position: relative;
  align-items: center;
}

.nav-item {
  display: block;
  padding: 1em;
  vertical-align: middle;
  list-style: none;
  float: left;
}

.nav-item a {
  color: azure;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.footer-body {
  height: 100px;
  background-color: black;
}

.footer-body span {}

#btn-drop-down {
  display: none;
}

@media screen and (min-width: 665px) {
  .nav-items {
    margin-left: 1.8em;
    display: block !important;
  }
}

@media screen and (max-width: 664px) {

  .navbar-body {
    padding-left: 3em;
    justify-content: space-between;
  }

  #btn-drop-down {
    display: block;
    float: right;
    font-size: 2rem;
    color: azure;
    overflow: auto;
  }

  #drop-down-inactive {
    display: block;
  }

  #drop-down-active {
    display: none;
  }

  #nav-items {
    display: none;
  }

  .nav-items {
    top: 120px;
    position: absolute;
    width: 100%;
    top: 100px;
    padding-left: 0px;
    left: 0px !important;
    background-color: rgb(11, 83, 127);
  }

  .nav-items::after {
    visibility: visible;
  }

  .nav-item {
    padding-left: 1.2em;
    border: rgb(12, 43, 65);
    border-radius: 1em;
    border-width: 5px;
    width: 100%;
  }
}